@import-normalize;

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 22px;
  color: black;
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
}
